@using RandomNumberGame.Models

@using (Html.BeginForm("Game", "Home"))
{
    <div class="row">
        @Html.DropDownList("select-difficulty",
            new SelectList(Enum.GetValues(typeof(Enums.DifficultyLevel))),
            "Select a difficulty...",
            new {@class = "form-control"})
        <input type="submit" class="btn btn-info" value="Start"/>
    </div>
}


