@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adam's Random Number Game!</h1>
    <p class="lead">Welcome to Adam's random number game, have fun and good luck!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>To start, let's select a difficulty</p>
        @Html.Partial("_DifficultyList")
    </div>
</div>