@{
    ViewBag.Title = "Home Page";
}

@{
    Session["CurrentGame"] = null;
}

<div class="jumbotron">
    <h1>Random Number Game</h1>
    <p class="lead">Welcome to the random number game, have fun and good luck!</p>
    <div class="row">
        <div class="col-md-12">
            <p>Select a difficulty then press start to start a new game!</p>
            @Html.Partial("_DifficultyList")
        </div>
    </div>
</div>

